*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-items: center;
    color: #f2eaec !important;
    font-family: 'Ubuntu', sans-serif !important;
     background: #A6E1FA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45.34deg, #00072D 5.66%, #0A2472 50.01%, #BA7BA1 94.35%);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45.34deg, #00072D 5.66%, #0A2472 50.01%, #BA7BA1 94.35%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
main{
    flex: 1 0 auto;
}
nav{
    background-color:none !important;
}
.navbar-brand{
    color: #f2eaec !important;
    border-color: #f2eaec !important;
    font-size: 1.5rem !important;
}.nav-link{
    font-size: 1.2rem !important;
    color: #F0E7D8 !important;
}
.nav-link:hover{
    color: #f2eaec !important;
    border-bottom: 1px solid #f2eaec !important;
}
.navbar-toggler-icon{
  color: #F0E7D8 !important;
  background-image: url('./icons/menu.svg') !important;
}
.form-control{
    background-color: transparent !important;
    color: #f2eaec !important;
}
.card{
  background-color: transparent !important;
  border: 1px solid #f2eaec !important;
}
.details{
  font-size: 0.7rem !important;
}
.card-img-top{
  width: 15rem ;
  height: 15rem;
}
.footer{
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.footer-copyright{
    color: #303242;
}
#facebook,#twitter,#github{
  stroke: #f2eaec;
}
#facebook:hover{
  fill: #f2eaec;
}
#twitter:hover{
  fill: #f2eaec;
}
#github:hover{
  fill: #f2eaec;
}
.btn-primary{
    background-color: transparent !important;
    outline: none !important;
    border: 1px solid #f2eaec !important;
}
.btn-primary:hover{
    background-color: #f2eaec !important;
    color: #00072D !important;
    border-radius: 3.125rem !important;
    transition: all 0.3s ease-in-out;
}
.btn-secondary{
  background-color: transparent !important;
  border: 0.5px solid #cadefc !important;
  outline:  none !important;
  border-radius: 0 !important;
}
.btn-secondary:hover{
  background-color: #cadefc !important;
  color: #00072D !important;
  transition: all 0.3s ease-in-out;
}
hr{
    width: 10% !important;
    background-color: #f2eaec !important;
}
.bubbly-buton{
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s !important;
    box-shadow: 0 2px 25px #f2eaec !important;
}

  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
  